.RequiredField_CSS
{
    font-family: Tahoma;
    font-size: 8px;
    color: Red;
}
.Singel_Search_Main
{
    height: 50px;
    width: 100%;
}
.Singel_Search_Left
{
    height: auto;
    width: 50%;
    float: left;
}
.Singel_Search_Right
{
    height: auto;
    width: 49%;
    float: right;
}
.fotter_Content
{
    color: #006699;
    font-size: 10pt;
    font-family: Tahoma;
    float: right;
}

/* Start CSS By User*/
/* table  css*/
table
{
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    margin-bottom: 7px;
}

.tbltopbgevn
{
    background-color: #fcfcfc;
    height: 40px;
    color: black;
    font-weight: bold;
}

.tblwithbdr
{
    border: 1px solid #ccc;
    width: 100%;
}

.tblfooter
{
    background-color: #f7f7fc;
    height: 40px;
    text-align: center;
}

.tblheader
{
    background-color: #B6B7BE;
    height: 40px;
    text-align: center;
    color: white;
}

.tblfooter a
{
    height: 23px;
    width: 50px;
    border: 1px solid Gray;
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 2px #DDDDDD;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
    padding: 5px 7px;
    color: #ccc !important;
    font-weight: bold;
    text-decoration: none;
}


.tblrowbgevn a
{
    color: black !important;
}

.tbltopbgodd
{
    height: 40px;
    background-color: #f7f7f7;
    color: black;
    font-weight: bold;
}


.tblrowbgodd
{
    background-color: #fcfcfc;
    background-color: #f7f7f7;
    height: 33px;
    font-size: 11px;
}

.tblrowbgodd a
{
    color: black !important;
    font-weight: bold;
}

.tblrowbgevn
{
    height: 33px;
    font-size: 11px;
    background-color: #fcfcfc;
}
/* table  css*/
SalesMedicin_Customer_main
{
    height: auto;
    width: 100%;
}
.trandopdownlist
{
    width: 200px;
    float: left;
    border: 1px solid #CCCCCC;
    font-family: Tahoma;
    text-align: left;
}
.translbl2
{
    width: 120px;
    display: block;
    color: Black;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    font-family: Tahoma;
    text-align: right;
}
.clabel
{
    width: 150px;
    display: block;
    color: Black;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    font-family: Tahoma;
    text-align: right;
    float: right;
}
.SalesMedicin_Customer_left
{
    height: auto;
    width: 50%;
    float: left;
}
.SalesMedicin_Customer_right
{
    height: auto;
    width: 50%;
    float: left;
}
.IndorpatientPayment_main
{
    height: auto;
    width: 100%;
}
.IndorpatientPayment_left
{
    height: auto;
    width: 50%;
    float: left;
}
.IndorpatientPayment_Right
{
    height: auto;
    width: 49%;
    float: right;
}
/* purchase */
.PharmPur_Payment_main
{
    height: 85px;
    width: 100%;
    margin-top: 4px;
}
.PharmPur_Payment_left
{
    height: auto;
    width: 50%;
    float: left;
}
.PharmPur_Payment_right
{
    height: auto;
    width: 50%;
    float: left;
}


.button3
{
    background: url(../image/sed.png) no-repeat;
    width: 148px;
    height: 28px;
    border: none;
    float: left;
    margin: 2px;
    margin-top: 10px;
    line-height: 22px; /* background: url(../images/sed.png) no-repeat;*/
}
.Add_Short
{
    width: 80px;
    float: right;
    cursor: pointer;
    font-family: Tahoma;
}
.Clear_Short
{
    width: 80px;
    float: left;
    cursor: pointer;
    font-family: Tahoma;
}
.total_payable_main
{
    height: 40px;
    width: 100%;
    margin-top: 4px;
}
.total_payable_left
{
    height: auto;
    width: 50%;
    float: left;
}
.total_payable_right
{
    height: auto;
    width: 50%;
    float: left;
}
.Challan_Pay_main
{
    height: 80px;
    width: 100%;
    margin-top: 4px;
}
.Challan_Pay_left
{
    height: auto;
    width: 50%;
    float: left;
}
.Challan_Pay_right
{
    height: auto;
    width: 50%;
    float: left;
}
.InvenPur_main
{
    height: 111px;
    width: 100%;
    margin-top: 4px;
}
.InvenPur_left
{
    height: auto;
    width: 50%;
    float: left;
}
.InvenPur_right
{
    height: auto;
    width: 50%;
    float: left;
}
.clabel_Location
{
    font-family: Tahoma;
    display: block;
    border: 1px solid #ccc;
    width: 150px;
    float: right;
    text-align: right;
    color: Black;
}

.Salpayment_main
{
    height: 160px;
    width: 100%;
}
.Salpayment_left
{
    height: auto;
    width: 50%;
    float: left;
}
.Salpayment_Right
{
    height: auto;
    width: 49%;
    float: right;
}

.BankAccount_Search_main
{
    height: 65px;
    width: 100%;
    margin-bottom: 0px;
}
.BankAccount_Search_left
{
    height: 55px;
    width: 50%;
    float: left;
    margin-bottom: 0px;
}
.BankAccount_Search_right
{
    height: 55px;
    width: 50%;
    float: left;
}
.lblBankAccount
{
    color: Black;
    float: right;
    text-align: right;
    margin-bottom: 0px;
    width: 115px;
    font-family: Tahoma;
    border: 1px solid #ccc;
}
.txtboxBankAccount
{
    border: 1px solid #ccc;
    font-family: Tahoma;
    text-align: left;
    width: 220px;
}
.ddlBankAccount
{
    border: 1px solid #ccc;
    font-family: Tahoma;
    text-align: left;
    width: 222px;
}

.Repeter
{
    height: 175px;
    width: 100%;
    margin-top: 4px;
}
/* start account info*/
.AccountUi_main
{
    height: 145px;
    width: 100%;
}
.AccountUi_left
{
    margin-top: 4px;
    height: 110px;
    width: 50%;
    float: left;
}
.AccountUi_right
{
    margin-top: 4px;
    height: 110px;
    width: 49%;
    float: right;
    margin-left: 5px;
}
/* css for  accountinfo aspx*/

/*start Company Info*/
.EmpMain
{
    width: 100%;
    min-height: 125px;
    border: 3px solid #ccc;
}
.EmpMain_left
{
    width: 50%;
    height: auto;
    border: 1px solid #ccc;
    float: left;
}

.EmpMain_right
{
    width: 49%;
    height: auto;
    border: 1px solid #ccc;
    float: left;
}
/* end company info
/* Company Info*/


.CompMain
{
    width: 100%;
    min-height: 160px; /*  border: 2px solid #ccc;*/
}
.CompMain_left
{
    width: 50%;
    height: auto;
    float: left;
}

.CompMain_right
{
    width: 49%;
    height: auto;
    float: left;
}

/* Single div Page  Universal CSS */
.Font_header
{
    color: #006699;
    font-size: 10pt;
    font-family: Tahoma;
}
.Mandatory
{
    color: Red;
    font-weight: bold;
}
.RequiredFieldcss
{
    color: Red;
    font-family: Tahoma;
    font-size: 10px;
}
.SearchMain
{
    width: 100%;
    min-height: 60px;
}


.Search_right
{
    width: 49%;
    height: auto;
    float: left;
}

.middle
{
    background-position: center;
    text-align: center;
}
.Lebel
{
    border: 1px solid #CCCCCC;
    display: block;
    font-family: Tahoma; /*font-weight: bold;*/
    color: Black;
    float: right;
    text-align: right;
    width: 140px;
}
.Textbox
{
    width: 230px;
    float: left;
    border: 1px solid #CCCCCC;
    font-family: Tahoma;
    text-align: left;
}
.Company_Rbt_Expeoter
{
    width: 230px;
    float: left;
    font-family: Tahoma;
    text-align: left;
}

.DropDownList
{
    width: 162px;
    float: left;
    border: 1px solid #CCCCCC;
    display: block;
    font-family: Tahoma;
}
.SingleLbl
{
    border: 1px solid #CCCCCC;
    display: block;
    font-family: Tahoma; /*font-weight: bold;*/
    color: Black;
    margin-bottom: 0;
    text-align: right;
    width: 140px;
    float: right;
}
.SingleTextbox
{
    width: 280px;
    float: left;
    border: 1px solid #CCCCCC;
    font-family: Tahoma;
}
.SingleDDL_SubCodePage
{
    float: left;
    border: 1px solid #CCCCCC;
    font-family: Tahoma;
    width: 120px;
}
.SingleTextbox_SubCodePage
{
    border: 1px solid #000;
    width: 155px;
    float: left;
    margin-left: 5px;
    border: 1px solid #CCCCCC;
    font-family: Tahoma;
}
.SingleDropDownList
{
    /*  border: 1px solid #ccc;*/
    width: 290px;
    float: left;
    border: 1px solid #CCCCCC;
    font-family: Tahoma;
}

.clearBtn
{
    height: 30px;
    width: 100px; /*  border: 1px solid #ccc;*/
    float: left;
}
.Searchbtn
{
    height: 30px;
    width: 100px; /*  border: 1px solid #ccc;*/
    float: left;
    margin-left: 4px;
}
/* Single div Page Universal CSS */

/* main head  Page CSS */
.mainheadpage
{
    height: auto;
    border: 0px;
}
/* main head  Page CSS */


/* Start CSS By User*/

/* Start ------------------------------Account CSS----------------------------------------------------------------------------------------*/

/* tarun CSS/


/* pop up css for log file*/

.LogFilePopUpUpperMain
{
    width: 100%;
    height: 50px;
}

.LogFilePopUpUpperMain_Left
{
    width: 50%;
    float: left;
}
.LogFilePopUpUpperMain_Right
{
    width: 49%;
    float: left;
}

.ModalPopupBG
{
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.popup_Container
{
    background-color: #fffeb2;
    border: 2px solid #ccc;
    padding: 0px 0px 0px 0px;
}


.popupConfirmation
{
    width: 300px;
    height: 200px;
}

.popup_Titlebar
{
    background: url(../image/titlebar_bg.jpg);
    height: 29px;
}

.popup_Body
{
    padding: 15px 15px 15px 15px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #ccc;
    line-height: 15pt;
    clear: both;
    padding: 20px;
}

.TitlebarLeft
{
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}
.TitlebarRight
{
    background: url(../image/cross_icon_normal.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

.popup_Buttons
{
    margin: 5px;
}
/* Popup css log file mangement*/

/*======================================= log in=====================================*/
.main_body_content
{
    width: 935px;
    height: auto;
    margin: auto;
}
.logout_bg1
{
    width: 264px;
    height: 45px;
    float: right;
}

.admin_cont
{
    width: 380px;
    height: 222px;
    margin: auto;
    padding: 45px; /* tarun code*/
    margin-top: 100px;
}

.admin_bg_top
{
    background: url(../image/admin_bg_top.png) no-repeat;
    width: 380px;
    height: 54px;
    float: left;
}

.admin_bg_mid
{
    background: url(../image/admin_bg_mid.png) repeat-y;
    width: 380px;
    min-height: 20px;
    overflow: hidden;
    float: left;
}

.admin_bg_bot
{
    background: url(../image/admin_bg_bot.png) no-repeat;
    width: 380px;
    height: 25px;
    float: left;
}

.admin_fild
{
    background-color: #FFF;
    border: solid 1px #e6eef3;
    padding: 8px;
    width: 80%;
    min-height: 15px;
    overflow: hidden;
    margin: 10px 0 10px 29px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-top-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-bottom-top-radius: 10px;
}

.user_icon
{
    background: url(../image/user_icon.png) no-repeat;
    width: 12px;
    height: 15px;
    float: left;
    margin-top: 2px;
}

.pass_icon
{
    background: url(../image/password_icon.png) no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 2px;
}

.ffil
{
    float: right;
    width: 280px;
    height: 18px;
    border: none;
    background: none;
}

.log_in_but
{
    background: url(../image/log_in_butt.png) no-repeat;
    width: 151px;
    height: 38px;
    float: right;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 13px;
}

a.reset_text
{
    font-family: Tahoma;
    font-size: 12px;
    color: #1e2b3d;
    padding: 16px 0px 0px 35px;
    text-decoration: none;
    float: left;
}

a.reset_text:hover
{
    text-decoration: underline;
}
/*======================================= log in=====================================*/
/* Universal Page CSS */
.Font_header
{
    color: #006699;
    font-size: 10pt;
    font-family: Tahoma;
}
.Mandatory
{
    color: Red;
    font-weight: bold;
}
.ActionButton_div
{
    margin-top: 10px;
    height: 40px;
    width: 100%;
}


.subbtn
{
    height: 30px;
    width: 100px;
    float: right;
    cursor: pointer;
    font-family: Tahoma;
}
.clearbtn
{
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-family: Tahoma;
}
/* Universal Page CSS */

/* Emp Info*/
.EmpAbsenceSerch_Main
{
    height: 80px;
    width: 100%;
}
.EmpAbsenceSerch_left
{
    height: auto;
    width: 50%;
    float: left;
}
.EmpAbsenceSerch_right
{
    height: auto;
    width: 49%;
    float: left;
}
.DDL_2_div
{
    border: 1px solid #ccc;
    width: 212px;
    font-family: Tahoma;
    text-align: center;
}
.Xtralebel
{
    border: 1px solid #ccc;
    display: block;
    float: right;
    font-family: Tahoma;
    color: Black;
    margin-bottom: 0;
    text-align: right;
    width: 150px;
}
.EmpDesigantionLebel
{
    border: 1px solid #ccc;
    display: block;
    float: right;
    font-family: Tahoma;
    color: Black;
    text-align: right;
    width: 180px;
}
.clabel_Tarun
{
    font-family: Tahoma; /*  font-weight: bold;*/
    color: Black;
    display: block;
    border: 1px solid #ccc;
    width: 150px;
    text-align: right;
    float: right;
}
.clabel_EmpPopup
{
    font-family: Tahoma;
    font-weight: bold;
    display: block;
    border: 2px solid #ccc;
    margin-bottom: 0px;
    width: 110px;
    float: right;
}
.EmpEdu_main
{
    height: 105px;
    width: 100%;
}
.EmpEdu_left
{
    height: auto;
    width: 50%;
    float: left;
}
.EmpEdu_right
{
    height: auto;
    width: 49%;
    float: left;
}
.EduSearch_main
{
    height: 125px;
    width: 100%;
    float: left;
}
.EduSearch_Left
{
    height: auto;
    width: 50%;
    float: left;
}
.EduSearch_Right
{
    height: auto;
    width: 49%;
    float: left;
}
.EduSearch_Update_main
{
    /*min-height: 120px;*/
    width: 100%;
}
.EduSearch_Update_right
{
    height: auto;
    width: 60%;
    float: left;
}
.ComboBoxCss
{
    font-family: Tahoma;
    text-align: left;
}

.EduSearch_Update_left
{
    height: auto;
    width: 39%;
    float: left;
}
.Emp_Update_serch_lbl
{
    border: 1px solid #ccc;
    display: block;
    float: right;
    font-family: Tahoma;
    font-weight: bold;
    text-align: right;
    width: 128px;
}
.input_textcss
{
    border: 1px solid #ccc;
    width: 210px;
    font-family: Tahoma;
    text-align: left;
}

.Emp_Update_serch_input_textcss
{
    border: 1px solid #ccc;
    font-family: Tahoma;
    margin-left: 5px;
    width: 202px;
    text-align: left;
}
.EmpBasicInfo_main
{
    height: 570px;
    width: 100%;
}
.EmpBasicInfo_left
{
    height: auto;
    width: 50%;
    float: left;
}
.EmpBasicInfo_right
{
    height: auto;
    width: 49%;
    float: left;
}
.EmpBasicInfo_Search_main
{
    height: 65px;
    width: 100%;
    margin-bottom: 0px;
}
.EmpBasicInfo_Search_left
{
    height: 55px;
    width: 50%;
    float: left;
    margin-bottom: 0px;
}
.EmpBasicInfo_Search_right
{
    height: 55px;
    width: 50%;
    float: left;
}

.SingelRow_Search_main
{
    height: 40px;
    width: 100%;
}
.SingelRow_Search_left
{
    height: auto;
    width: 50%;
    float: left;
}
.SingelRow_Search_right
{
    height: auto;
    width: 49%;
    float: left;
}

/* Emp Info*/



/* tarun CSS/
/* cash flow Report Setup*/
.CashFlowRpt_main
{
    width: 100%;
    height: 110px;
}
.CashFlowRpt_left
{
    width: 50%;
    height: auto;
    float: left;
}
.CashFlowRpt_right
{
    width: 50%;
    height: auto;
    float: left;
}

.CashFlowRpt_search_main
{
    width: 100%;
    height: 80px;
}
.CashFlowRpt_search_Left
{
    width: 50%;
    height: auto;
    float: left;
}
.CashFlowRpt_search_right
{
    width: 49%;
    height: auto;
    float: left;
}

/* cash flow rpt set up*/

/* Account Head*/
.subcode1_search_main
{
    width: 100%;
    height: 50px;
}
.subcode1_search_Left
{
    width: 50%;
    height: auto;
    float: left;
}
.subcode1_search_right
{
    width: 49%;
    height: auto;
    float: left;
}

.AccHead_search_main
{
    width: 100%;
    height: 90px;
}
.AccHead_search_Left
{
    width: 50%;
    height: auto;
    float: left;
}
.AccHead_search_right
{
    width: 49%;
    height: auto;
    float: left;
}

.lbl_AccountHead_search
{
    border: 1px solid #ccc;
    float: right;
    text-align: right;
    margin-bottom: 0px;
    width: 150px;
    font-family: Tahoma;
    height: 19px;
    color: Black;
}
.txt_Acc_Search
{
    width: 207px;
    border: 1px solid #ccc;
    float: left;
    font-family: Tahoma;
    text-align: left;
    color: Black;
}

.lbl_AccSubCode2_search
{
    border: 1px solid #ccc;
    float: right;
    text-align: right;
    margin-bottom: 0px;
    width: 110px;
    font-family: Tahoma;
    height: 19px;
    color: Black;
}
.txt_AccSubCoed2_Search
{
    width: 140px;
    border: 1px solid #ccc;
    float: left;
    font-family: Tahoma;
    text-align: left;
    height: 17px;
    color: Black;
}
/* Accounting Rpt UI*/
.AccRptUiBtn
{
    background: url(../Images/sed.png) no-repeat;
    width: 148px;
    height: 28px;
    border: none;
    float: left;
    margin: 2px;
    margin-top: 10px;
    line-height: 22px; /* background: url(../images/sed.png) no-repeat;*/
}
/* journal */
.journal_main
{
    width: 100%;
    height: auto;
}
.journal_left
{
    width: 50%;
    height: auto;
    float: left;
}
.journal_right
{
    width: 49%;
    height: auto;
    float: left;
}
.Jurnal_entry
{
    width: 100%;
    height: auto;
}
.Jurnal_entry_left
{
    width: 50%;
    height: auto;
    float: left;
}
.Jurnal_entry_right
{
    width: 49%;
    height: auto;
    float: left;
}


/* journal */
/* COA */

.COA
{
    width: 100%;
    height: auto;
}
/*COA*/

/* Popup Tarun Css*/


.PopUpBody
{
    width: 400px;
    height: 400px;
    border: 2px solid #ccc;
}
.PopUpBody_Header
{
    width: 398px;
    height: 100px;
    background-color: #BCC7D8;
}

.Font_header
{
    color: #006699;
    font-size: 10pt;
    font-family: Tahoma;
}

/* Popup tarun CSS*/


/* Popup css bed mangement*/


.ModalPopupBG
{
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.popup_Container
{
    background-color: #FFFCB5;
    border: 2px solid #ccc;
    padding: 0px 0px 0px 0px;
}

.popupConfirmation
{
    width: 300px;
    height: 200px;
}

.popup_Titlebar
{
    background: url(../Image/titlebar_bg.jpg);
    height: 29px;
}

.popup_Body
{
    padding: 15px 15px 15px 15px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #ccc;
    line-height: 15pt;
    clear: both;
    padding: 20px;
}

.TitlebarLeft
{
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}
.TitlebarRight
{
    background: url(../Image/cross_icon_normal.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

.popup_Buttons
{
    margin: 10px;
}
/* Popup css bed mangement*/
/* Universal CSS*/
.TabContainer
{
    width: 100%;
    height: auto;
    float: left;
}
.Mandatory
{
    color: Red;
    font-weight: bold;
}
.GridView
{
    width: 100%;
    float: left;
}
.HeaderPartition
{
    float: left;
    width: 100%;
}
.HeaderPartition_Font
{
    color: #006699;
    font-size: 10pt;
    font-family: Tahoma;
}
.Mandatory
{
    color: Red;
    font-weight: bold;
    margin-left: 6px;
}

.Search_left
{
    width: 50%;
    height: auto;
    float: left;
}

/* Universal CSS */

/* Sub Vode*/
.SingleDDL_Journal
{
    width: 209px;
    border: 1px solid #ccc;
    float: left;
    font-family: Tahoma;
    text-align: left;
    height: 20px;
    color: Black;
}

.SingleDDL_MainHead
{
    width: 290px;
    border: 1px solid #ccc;
    float: left;
    font-family: Tahoma;
    text-align: left;
    height: 20px;
    color: Black;
}
.textbox_Journal
{
    width: 207px;
    border: 1px solid #ccc;
    float: left;
    font-family: Tahoma;
    text-align: left;
    height: 17px;
    color: Black;
}

.JournalEntrytype
{
    color: #006699;
    font-size: 10pt;
    font-family: Tahoma;
    text-align: right;
    float: right;
    width: 150px;
}
.SingleDDL_SubCodePage
{
    width: 88px;
    border: 1px solid #ccc;
    float: left;
    font-family: Tahoma;
    text-align: left;
    height: 21px;
    font-family: Tahoma;
    color: Black;
}
.SingleTextbox_SubCodePage
{
    width: 198px;
    border: 1px solid #ccc;
    float: left;
    text-align: left;
    margin-left: 2px;
    height: 17px;
    font-family: Tahoma;
    color: Black;
}

/* end Sub Code*/


/* Start User CSS */
.selected
{
    background-color: blue;
    font: Black;
    font-weight: bold;
    font-style: italic;
}

/* Single div Page  Universal CSS */
.middle
{
    background-position: center;
    text-align: center;
}
.SingleLbl_journal
{
    border: 1px solid #ccc;
    float: left;
    text-align: right;
    margin-bottom: 0px;
    width: 115px;
    font-family: Tahoma;
    height: 19px;
    color: Black;
}
.RequiredFieldCSS
{
    font-size: 12px;
    margin-bottom: 0px;
    font-family: Tahoma;
    color: Red;
}

.SearchLbl
{
    height: 19px;
    float: left;
    text-align: left;
    margin-bottom: 0px;
    width: 180px;
    font-family: Tahoma;
    color: Black;
}

.SingleTextbox
{
    width: 288px;
    border: 1px solid #ccc;
    float: left;
    font-family: Tahoma;
    text-align: left;
    font-size: 12px;
    height: 17px;
    color: Black;
}
.SIngelDDl_subcode
{
    width: 290px;
    border: 1px solid #ccc;
    float: left;
    font-family: Tahoma;
    text-align: left;
    color: Black;
    height: 21px;
}

.AddBtn
{
    height: 25px;
    width: 80px; /* border: 1px solid #ccc;*/
    cursor: pointer;
    float: right;
}
.clearbtn_Short
{
    height: 25px;
    width: 80px; /* border: 1px solid #ccc;*/
    cursor: pointer;
}

.SaveBtn
{
    width: 100px; /*   border: 1px solid #ccc;*/
    cursor: pointer;
    float: right;
}
.btnCreateReqisition
{
    height: 30px;
    cursor: pointer;
}
.clearBtn
{
    /*font-weight: bold;     background: #666;     color: #FFF;     line-height: 50px;     border: 1px solid #ccc;         cursor: pointer;*/
    height: 30px;
    width: 100px; /*  border: 1px solid #ccc;*/
    cursor: pointer;
}
/* Single div Page Universal CSS */

/* main head  Page CSS */
.mainheadpage
{
    height: 125px;
    border: 0px;
    width: 100%;
}
.CashFlowEntity
{
    height: 75px;
    border: 0px;
    width: 100%;
}
/* main head  Page CSS */









/* Start File Upload */


/*Container supported classes*/
/*-------------------------------*/
.FileUpload
{
    width: 100%;
    height: auto;
}
/*Main wrapper class*/
.ContainerWrapper
{
    background-color: #DFE8F6;
    border-right: 1px solid #9ABBE8;
    border-bottom: 1px solid #9ABBE8;
    border-left: 1px solid #9ABBE8;
    width: 100%;
}
/*Gap between wrapper and container*/
.ContainerMargin
{
    padding: 4px;
}
/*Container*/
.Container
{
    border: 1px solid #99BBE8;
    background-color: White;
}
/*Header of each container*/
.ContainerHeader
{
    background-image: url(../Images/Container_Header.gif);
    height: 23px;
    font-size: 12px;
    font-weight: bold;
    color: #133047;
}
/*Margin of Header of each container*/
.ContainerHeader td
{
    padding: 4px;
}

/*-------------------------------*/
/*Messages Status supported classes*/
/*-------------------------------*/
/*General class for Message*/
#tblMessage
{
    height: 23px;
    width: 100%;
}
/*Message for Successful*/
#tblMessage.Success
{
    border: solid 1px #5AAD0D;
    background-color: #E5F7D5;
}
/*Message for Information*/
#tblMessage.Information
{
    border: solid 1px #88B5E9;
    background-color: #E2EDF8;
}
/*Message for Warning*/
#tblMessage.Warning
{
    border: solid 1px #FD7B04;
    background-color: #FFF7E7;
}
/*Message for Error*/
#tblMessage.Error
{
    border: solid 1px #FF0001;
    background-color: #FFEAEA;
}

/*-------------------------------*/
/*Messages Status Icon supported classes*/
/*-------------------------------*/
/*General class for Message Icon*/
#dvIcon
{
    line-height: 23px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 38px;
}
/*Message Icon for Successful*/
#dvIcon.Success
{
    background-image: url('../Images/Message_Success.png');
}
/*Message Icon for Information*/
#dvIcon.Information
{
    background-image: url('../Images/Message_Information.png');
}
/*Message Icon for Warning*/
#dvIcon.Warning
{
    background-image: url('../Images/Message_Warning.png');
}
/*Message Icon for Error*/
#dvIcon.Error
{
    background-image: url('../Images/Message_Error.png');
}

/*-------------------------------*/
/*Progressbar supported classes*/
/*-------------------------------*/
/*Progressbar container wrapper*/
#dvProgressContainer
{
    border-left: solid 1px #CFCFCF;
    border-right: solid 1px #CFCFCF;
    width: 300px;
    height: 12px;
    background-image: url(../Images/Progressbar_Wrapper.gif);
}
/*Progressbar container*/
#dvProgress
{
    background-image: url(../Images/Progressbar_Content.gif);
    height: 100%;
    width: 0px;
}

/*-------------------------------*/
/*Grid supported classes*/
/*-------------------------------*/
/*Grid Header Row*/
.GridHeader
{
    background-image: url(../Images/Grid_Header.gif);
    height: 25px;
}
/*Grid Header row separator */
.GridHeader td.Separator
{
    border-right: solid 1px #C9CACA;
    padding: 0px 2px 0px 2px;
}
/*Grid row height for empty, normal, selected and hovered */
.GridRow, .GridEmptyRow, .GridNumberRow, .GridNormalRow, .GridAlternate, .GridHoverRow
{
    height: 20px;
}
/*Grid Empty row */
.GridEmptyRow
{
    vertical-align: middle;
    text-align: center;
    color: Gray;
}
/*Grid Numbered row */
.GridNumberRow
{
    background-image: url(../Images/Grid_RowNumber.gif);
}
/*Grid Normal row */
.GridNormalRow
{
    background-image: url(../Images/Grid_RowNormal.gif);
}
/*Grid Alternate row */
.GridAlternate
{
    background-image: url(../Images/Grid_RowAlternate.gif);
}
/*Grid Hover row */
.GridHoverRow
{
    background-image: url(../Images/Grid_RowHover.gif);
}
/*Grid Footer row*/
.GridFooter
{
    background-image: url(../Images/Grid_Footer.gif);
    height: 25px;
}
/*Grid Footer row left and right margin*/
.GridFooter td
{
    padding: 0px 3px 0px 3px;
}
.StartUpload
{
    /* for IE */
    filter: alpha(opacity=20); /* CSS3 standard */
    opacity: 0.2;
}


/* End File Upload*/




/* Start User CSS */
/* End --------------------------------Account CSS---------------------------------------------------------------------------------------*/
/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    /*font-weight: bold;*/
    color: White;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
